<td class="text-right">



<div class="dropdown">
    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fas fa-ellipsis-v"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
        <a class="dropdown-item" onclick="confirmRequest('<%=ht.h_id%>',this)" href="javascript:void(0)">Confirm Request</a>
        <a class="dropdown-item" href="/user/report?trans=<%=ht.h_trans%>&type=2" target="_blank">Report </a>

    </div>
</div>

</td>