<center>
    <div class="card-wrapper">
        <!-- Form controls -->
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">System Working On Your Merging</h3>
            </div>
            <!-- Card body -->
            <div class="card-body">
                <form id="activation">
                    <div class="form-group">
                        
                        <p>
                            Your Investment Request Has Been Submitted, The System Will Merge You With A User Soon.
                        </p>
                        
                    </div>
                    <br><br>
    
    
    
    
    
            </div>
        </div>
    
    </div>
</center>