<div class="col-12 col-lg-6">
    <div class="card">
        <!-- Card header -->
        <div class="card-header">
            <h3 class="mb-0">Payment Hint</h3>
        </div>
        <!-- Card body -->
        <div class="card bg-gradient-default">
            <div class="card-body">
                
                <blockquote class="blockquote text-white mb-0">
                    <p>Make Payment Before The Countdown Complete, Failure To Make This Payment On Time Will Lead To Account Suspension!.</p>
                    
                    
                </blockquote>
            </div>
        </div>

        
    </div>
</div>