<div class="nav-left-sidebar sidebar-dark">
    <div class="slimScrollDiv" style="position: relative; overflow: visible; width: auto; height: 100%;">
        <div class="menu-list" style="overflow: visible; width: auto; height: 100%;">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                <button class="navbar-toggler sidemenu" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse show" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        
                        <li class="nav-divider">
                            Menu
                        </li>
                        
                        
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#activationFee"
                                aria-controls="activationFee"><i class="fa fa-fw fa-money"></i>Activation Fee</a>
                            <div id="activationFee" class="collapse submenu">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/activation">Pending Activation Fee </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/activation?status=1">Completed Activation Fee</a>
                                    </li>
                        
                        
                                </ul>
                            </div>
                        </li>
                        


                        
                        <hr>

                        <li class="nav-item ">
                            <a class="nav-link" href="https://wa.me/2349021020979?text=Hello%20Flexible"><i class="fa fa-fw fa-question"></i>Need Help? </a>
                        </li>
                        
                    </ul>
                </div>
            </nav>
        </div>
        <div class="slimScrollBar"
            style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 881px;">
        </div>
        <div class="slimScrollRail"
            style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
        </div>
    </div>
</div>