<%-include("../partials/header")%>

<section class="pricing pricing-1" id="pricing-1">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <div class="heading heading-16 text-center">
                    <h2 class="heading-title"><%=page.page_title%></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="heading-desc text-center">
                <%-page.page_description%>
            </div>
        </div>

    </div>



</section>


<%-include("../partials/footer")%>